/*Neighborhood Map CSS rules*/
html,
body,
.map {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/** @group sidebar */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 100%;
  background-color: white;
  opacity: .8;
  padding-left: 10px;
  list-style-type: none;
  overflow: scroll;
}

.instagramIcon {
  text-align: center;
  padding-left: 125px;
  cursor: pointer;
}

.search {
  font-family: sans-serif;
  color: #666;
  font-size: 1.0em;
  text-align: center;
}

.title {
  color: #066;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

.placeName {
  color: #666;
  font-family: sans-serif;
  font-size: 1.5em;
  padding-bottom: 0;
  margin-bottom: -7px;
  cursor: pointer;
}

.placeInfo {
  line-height: 0.5;
  font-family: sans-serif;
  font-size: .95em;
}

/** @group Instagram photos */
.photoPanel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: #ededed;
  opacity: .9;
  padding-left: 10px;
  margin: 0 auto 0 auto;
  visibility: hidden;
}

.photoTitle {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  padding: 20px;
  font-weight: bold;
  color: #066;
}

.closeInstagram {
  font-family: sans-serif;
  cursor: pointer;
  float: right;
  right: 30px;
  padding-right: 20px;
}
.imgInstagram {
  border-radius: 10px;
  border: 1px solid #dedede;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  width: 306px;
  height: 306px;
  margin: 5px;
}

/** @group responsive design */
.photos,
latest {
  /*Mobile first - display one column of photos on small screens*/
  margin: auto;
}

@media only screen and (min-width: 670px) {
  /* For tablet display 2 columns of photos */
  .photoPanel {width: 730px;}
  .photos {width: 660px;}
}
 
@media only screen and (min-width: 1004px) {
  /* For desktop display 3 columns of photos*/
  .photoPanel {width: 1040px;}
  .photos {width: 1004px;}
}