
html, body, #map {
                /*height: 100%;*/
                margin: 0;
                padding: 0;
}
 
#container {
  position: relative;
  height: 100%;
  width: 100%;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 100%;
  background-color: white;
  opacity: .8;
  padding-left: 10px;
  overflow: scroll;
}

.search {
  font-family: sans-serif;
  color: #666666;
  font-size: 1.0em;
  text-align: center;
}

.title {
  color: #006666;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.placeName {
  color: #666666;
  font-family: sans-serif;
  font-size: 1.2em;
  padding-bottom: 0px;
  margin-bottom: -7px;
  cursor: pointer;
}

.placeInfo {
  line-height: 0.5;
  font-family: sans-serif;
  font-size: .95em;
}

ul{
   list-style-type: none;
}